.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__content {
    width: 400px;
    background-color: #f4f4fa;
    border: solid 1px;
}

.modal__header {

}

.modal__title {

}

.modal__body {

}

.modal__footer {
    display: flex;
    justify-content: space-around;
    padding: 5px 0
}