.item {
  color: #0308ab;
}

.item a{
  color: #1e21ff;
  text-decoration: none;
}

.itemBackToPage {
  color: #0ae335;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 1rem 0 ;
  font-size: 1.2rem;
  gap: 5px;

}

.pageNum {
  padding: 8px 15px;
  border-radius: 3px;
  font-weight: 400;
  cursor: pointer;
}


a.active{
  background-color: #550bd3;
  color: white;
}


