/*.itemNavBar {*/
/*    !*grid-area: navBar;*!*/
/*    background: #9f9292;*/
/*    padding: 5px;*/
/*}*/

.itemNavBar a {
    text-decoration: none;
    color: #0a0101;
}

a.itemNavBar-active-link {
    color: #0015ff;
}