.navLinkHomeWork {
    /*display: grid;*/
    /*grid-area: left;*/
    background: #1031d3;
    text-align: left;
    padding: 10px;
}

.navLinkHomeWork a {
    text-decoration: none;
    color: #f5f8f5;
}

a.navLinkHomeWork-active-link {
    color: #0ae335;
}
