.App {
    display: grid;
    grid-template-areas:
          'header header'
          'navBar main'
          'footer footer';
    grid-template-columns:  220px 1340px;
    grid-template-rows: 60px;
    width: 1560px;
    margin: 5px auto;
    /*padding: 10px;*/
    /*grid-gap: 2px;*/
    border: 1px silver solid;
    grid-gap: 3px;
}



.Header {
    display: grid;
    grid-area: header;
    background: #fae706;
    padding: 10px;
}
.NavBar {
    display: grid;
    grid-area: navBar;
    text-decoration: none;
    color: #ded9d9;
    background: #d8ddde;
    padding: 10px;
}

.Main {
    display: grid;
    grid-area: main;
    background: #faf9f9;
    text-align: center;
    /*padding: 1px;*/
}

.Footer {
    display: grid;
    grid-area: footer;
    background: cornflowerblue;
}

body[theme-data='light'] {
    background: white;
}

body[theme-data='dark'] {
    background: black;
    color: white;
}
