.App {
    display: grid;
    grid-template-areas:
          'header header'
          'navBar main'
          'footer footer';
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 70px 10fr;
    width: 1400px;
    margin: auto;
    padding: 10px;
    grid-gap: 2px;
}

.NavBar {
    display: grid;
    text-decoration: none;
    color: #ded9d9;
}

.Header {
    display: grid;
    grid-area: header;
    background: #1e66f3;
    padding: 10px;
}

.Main {
    display: grid;
    grid-area: main;
    background: #fafafa;
    text-align: center;
    padding: 1px;
}

.Footer {
    display: grid;
    grid-area: footer;
    background: cornflowerblue;
}
