.HooksNavLink {
    background: #191bdc;
    text-align: left;
    padding: 10px;
    color: white;
}

.HooksNavLink a {
    text-decoration: none;
    color: white;
}

a.HooksNavLinkActive {
    color: #ffc302;
}